.shape{
    height: 60px;
    width: 80px;
    background-color:var(--ion-color-secondary);
    border-radius: 5px;
    border: 1px solid black;   
}

.box{
    background-color: white;
}
.icono{
    width: 70px;
    height: auto;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

