 
    <div class="progress vertical">
      <div role="progressbar" [style.height]="valor+ '%' " class="progress-bar">Nivel<br>
        <h6 class="mt-0" style="color: var(--ion-color-dark-tint);margin: 0px;">{{data.value | number : '1.2-3'}} m</h6>
      </div>
    </div>
    <!-- <div class="progress vertical">
          <div role="progressbar" style="height: 90%;" class="progress-bar progress-bar-secondary"><span class="sr-only">Secondary</span></div>
        </div>
         <div class="progress vertical">
          <div role="progressbar" style="height: 85%;" class="progress-bar progress-bar-default"><span class="sr-only">Default</span></div>
        </div>
        <div class="progress vertical">
          <div role="progressbar" style="height: 80%;" class="progress-bar progress-bar-success"><span class="sr-only">Success</span>
          </div>
        </div>
        <div class="progress vertical">
          <div role="progressbar" style="height: 60%;" class="progress-bar progress-bar-info"><span class="sr-only">Info</span></div>
        </div>
        <div class="progress vertical">
          <div role="progressbar" style="height: 40%;" class="progress-bar progress-bar-warning"><span class="sr-only">Warning</span>
          </div>
        </div>
        <div class="progress vertical">
          <div role="progressbar" style="height: 20%;" class="progress-bar progress-bar-danger"><span class="sr-only">Danger</span>
          </div>
        </div> -->


