<ion-header>
  <app-menu></app-menu>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 mt-2">
      <vertedero></vertedero>  
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <floculadores></floculadores>          
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <sedimentadores></sedimentadores>
          </div>
        </div>
      </div>

    </div>
  </div>



</ion-content>
<app-footer></app-footer>