.fondo{
  background-color: var(--ion-color-primary);
  height: 100vh;
}

.banner{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 85vw;
}
.layer {
  background-color: rgba(252, 252, 252, 0.25); 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.arrowRight{
  position:relative;
  margin: 20px;
  width:48px;
  height: 38px;
  background: var(--ion-color-primary);
  border:solid 1px #999;
  float: left;
 }
 .arrowRight:before, .arrowRight:after {
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  top:-1px;
  content: " ";
  position: absolute;
  display: block;
  width: 0;
  height: 0;   
  }
  .arrowRight:after {
  border-left: 16px solid var(--ion-color-primary);
  right: -15px;
  z-index: 2;
  }
  
 .arrowRight:before {
  border-left: 16px solid var(--ion-color-primary);
  right: -16px;
  z-index: 1;
  }
 

ion-item{
  --background:transparent;
}
ion-list {/* optional, but it needs when you use gradient as a background color.*/
  background: transparent;
}

.box{
  background-color: var(--ion-color-light);
  border-radius: 15px;
}
.box-2{
  background-color: var(--ion-color-medium);
  border-radius: 15px;
}

.img{
  max-height: 25vh;
}
td{
  vertical-align: middle !important;
}
.icono{
  height: 100px;
  width: auto;
}

$outline-width: 0;
$break-point: 500px;

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: lato;
}

$gray-base:     #999999;
$brand-primary: #3498DB; //Zen Blue

.section-header {
  color: $brand-primary;
  font-weight: 400;
  font-size: 1.4em;
}


.steps-header {
  @extend .section-header;
  margin-bottom: 20px;  
  text-align: center;
}
.steps-timeline {
  outline: 1px dashed rgba(red, $outline-width);
  
  @media screen and (max-width: $break-point) {
    border-left: 2px solid $brand-primary;
    margin-left: 25px;
  }
  
  @media screen and (min-width: $break-point) {
    border-top: 2px solid $brand-primary;
    padding-top: 20px;
    margin-top: 40px;
    margin-left: 16.65%;
    margin-right: 16.65%;
  }
  
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.steps-one,
.steps-two,
.steps-three {
  outline: 1px dashed rgba(green, $outline-width);
  
  @media screen and (max-width: $break-point) {
    margin-left: -25px;
  }
  
  @media screen and (min-width: $break-point) {
    float: left;
    width: 33%;  
    margin-top: -50px;
  }
}
.steps-one,
.steps-two {
  @media screen and (max-width: $break-point) {
    padding-bottom: 40px;
  }
}
.steps-one {
  @media screen and (min-width: $break-point) {
    margin-left: -16.65%;
    margin-right: 16.65%;
  }
}
.steps-two {
  
}
.steps-three {
  @media screen and (max-width: $break-point) {
    margin-bottom: -100%;
  }
  @media screen and (min-width: $break-point) {
    margin-left: 16.65%;
    margin-right: -16.65%;
  }
}

.steps-img {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  
  @media screen and (max-width: $break-point) {
    float: left;
    margin-right: 20px;
  }
}

.steps-name,
.steps-description {
  margin: 0;
}
.steps-name {
  @extend .section-header;
  
  @media screen and (min-width: $break-point) {
    text-align: center;
  }
}
.steps-description {
  overflow: hidden;
  
  @media screen and (min-width: $break-point) {
    text-align: center;
  }
}

