.box{
    background-color: var(--ion-color-tertiary);
    border-radius: 5px;
}
.fondo{
    background-color: var(--ion-color-medium);
}

.space{
    margin-top: 5px;
    margin-bottom: 0px;
}

// .box{
//     background-color: var(--ion-color-medium);
// }
